<form>
  <h2>Novel Entry</h2>
  <div class="row">
    <div class="col-xs-5 form-group">
      <label for="title">Title</label>
      <input ngModel type="text" id="title" class="form-control" name="title">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 form-group">
      <label for="author">Author</label>
      <input ngModel type="text" id="author" class="form-control" name="author">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 form-group">
      <label for="publisher">Publisher</label>
      <input ngModel type="text" id="publisher" class="form-control" name="publisher">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 form-group">
      <label for="year">Year</label>
      <input ngModel type="number" id="year" class="form-control" name="year">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 form-group">
      <label for="pages">Pages</label>
      <input ngModel type="number" id="pages" class="form-control" name="pages">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 form-group">
      <label for="series">Series</label>
      <input ngModel type="text" id="series" class="form-control" name="series">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 form-group">
      <label for="seriesnum">Series Number</label>
      <input ngModel type="number" id="seriesnum" class="form-control" name="seriesnum">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 form-group">
      <label for="isbn">ISBN</label>
      <input ngModel type="text" id="isbn" class="form-control" name="isbn">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 form-group">
      <label for="review">Review</label>
      <textarea ngModel type="text" id="review" class="form-control" name="review" rows="4" cols="40"></textarea>
    </div>
  </div>
</form>
