<form [formGroup]="novelsForm" (ngSubmit)="onSubmit()">
  <h2 id="novelFormTitle">Novel Entry</h2>
  <div class="row">
    <div class="col-xs-5 form-group">
      <label for="title">Title</label>
      <input type="text" id="title" class="form-control" formControlName="title">
      <div *ngIf="novelsForm.get('title').touched && novelsForm.get('title').invalid"
      class="alert alert-danger">Title is required.</div>
    </div>
    <div class="col-xs-5 col-xs-push-1 form-group">
      <label for="author">Author</label>
      <input type="text" id="author" class="form-control" formControlName="author">
      <div *ngIf="novelsForm.get('author').touched && novelsForm.get('author').invalid"
      class="alert alert-danger">Author is required.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 form-group">
      <label for="publisher">Publisher</label>
      <input type="text" id="publisher" class="form-control" formControlName="publisher">
    </div>
    <div class="col-xs-2 col-xs-push-1 form-group">
      <label for="year">Year</label>
      <input type="number" id="year" class="form-control" formControlName="year">
      <div *ngIf="novelsForm.get('year').touched && novelsForm.get('year').invalid"
      class="alert alert-danger">Cannot be later than current year.</div>
    </div>
    <div class="col-xs-2 col-xs-push-2 form-group">
      <label for="pages">Pages</label>
      <input type="number" id="pages" class="form-control" formControlName="pages">
      <div *ngIf="novelsForm.get('pages').touched && novelsForm.get('pages').invalid"
      class="alert alert-danger">Must be a positive number.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 form-group">
      <label for="series">Series</label>
      <input type="text" id="series" class="form-control" formControlName="series">
    </div>
    <div class="col-xs-2 col-xs-push-1 form-group">
      <label for="seriesnum">Series Number</label>
      <input type="number" id="seriesnum" class="form-control" formControlName="seriesnum">
    </div>
    <div class="col-xs-2 col-xs-push-2 form-group">
      <label for="isbn">ISBN</label>
      <input type="text" id="isbn" class="form-control" formControlName="isbn">
      <div *ngIf="novelsForm.get('isbn').touched && novelsForm.get('isbn').invalid"
      class="alert alert-danger">Must be a 13 digit number.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-11 form-group">
      <label for="review">Review</label>
      <textarea type="text" id="review" class="form-control" rows="3" cols="100" formControlName="review"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1">
      <button class="btn btn-primary" type="submit">{{editMode? 'Update': 'Add'}}</button>
    </div>
    <div class="col-xs-1">
      <button class="btn btn-warning" (click)="onClear()">Clear</button>
    </div>
  </div>
</form>
